@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.text-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.text-mono {
  font-family: 'Space Mono', monospace;

}

.text-hanson {
  font-family: 'Hanson';
}
